.user-bar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto ;
    width: 100%;
    flex-wrap: wrap;
    justify-items: flex-end;
    position: relative;
    padding-inline:25px ;
    align-items:flex-end;
    gap: 20px;

    .user-bar__input {
        grid-column: 2/3;
        grid-row: 2/3;
        width: 100%;    
        box-sizing: border-box;
        padding: 12px 45px 12px 45px;
        background-color: #f5f7fa;
        border-radius:40px;
        border: none;
        font-family: 'Inter',sans-serif;
        @include font-change(400,13px,16px);
        max-width:700px;
    }

    .user-bar__title{
        grid-column: 2/3;
        @include font-change(600,20px,24px);
        color: #343c6a; 
        margin: 0;
        margin-bottom  : 5px;
        justify-self: center;
    }

    .user-bar__image{
        display: block;
        width: 35px;
        height: 35px;
        background-position: 80% 0%;
        background-size: 80px 53px;
        background-image: url('../../../public/images/profile.jpg');
        border-radius:50%;
    }

}


